
<%= form_for [current_user, @post, @post.comments.build] do |f| %>
  <div class='form-group'>
    <%= f.label :Add_comments %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <div class='pull-right'>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
